.login-page
	width 100%
	height 100%
	margin auto
	position absolute
	display flex
	align-items center
	justify-content center

.side-form__image
	width 60px
	padding-bottom 45px

.form
	position relative
	z-index 1
	background #FFFFFF
	width 360px
	padding 45px
	text-align center
	box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
	input
		font-family CirceLight
		outline 0
		background #f2f2f2
		width 100%
		border 0
		margin 0 0 15px
		padding 15px
		box-sizing border-box
		font-size 14px
	button
		font-family CirceLight
		text-transform uppercase
		outline 0
		background blue
		width 100%
		border 0
		padding 15px
		color #FFFFFF
		font-size 14px
		transition all 0.3 ease
		cursor pointer
	.message
		margin 15px 0 0
		color #b3b3b3
		font-size 12px
		a
			color #4CAF50
			text-decoration none
	.register-form
		display none

.form button:hover,.form button:active,.form button:focus
	background rgba(48,121,193, .5)

body
	background blue