.side-form-group__area
	width 100%
	border 1px solid #ccc
	padding 10px
	background #edeced

.side-form-group__section-title
	font-family CirceLight
	margin-bottom 10px
	display block 

.side-form-flex-group
	display flex 
	align-items center
	justify-content space-between

.side-form-group__wrapp
	width 90%

.side-modal-wrapper__placeholder
	margin 0
	font-family CirceLight
	
.side-form-group__area-add-item
	background #508dcb
	color #fff
	padding 8px 10px
	border-radius 50%
	cursor pointer
	
.side-form-flex-group .submit-button
	min-width initial 
	widht initial
	
.side-form-group__wrapp input 
	width 100%
	
.side-form-flex-group .submit-button,
	width 47px
	min-width 0
	padding 9px 13px 6px
	color #fff
	margin 25px 0 0

.side-menu-form-wrapper__add-items
	width 100%

.side-form-group__section-block
	padding 10px 20px
	background #eee
	min-width 200px
	font-family CirceLight
	border 1px solid #aaa
	margin-right 10px
	display flex 
	align-items center
	position relative
	z-index 1

.side-main-tree
	background #cccaca
	

.side-menu-form-wrapper__general
	margin 5px 0px
	display flex
	position relative
	justify-content flex-start
	align-items center

.side-hr
	z-index 2
	&:before
		width 100%
		position absolute
		top 50%
		transform translateY(-50%)
		height 1px 
		background #aaaaaa 
		z-index -1
		content ""
	
.side-menu-form-wrapper__item
	margin 5px 50px
	display flex
	justify-content flex-start
	position relative
	&:before
		content ""
		width 25px
		height 1px
		background #cccaca
		top 50%
		position absolute
		left -25px
	&:after 
		content ""
		width 1px
		height 15px
		background #cccaca
		top 50%
		margin-top -15px
		position absolute
		left -25px
	
.side-menu-form-wrapper__submenu 
	margin 5px 50px
	position relative
	&:before
		content ""
		width 25px
		height 1px
		background #cccaca
		top 30px
		position absolute
		left -25px
	&:after 
		content ""
		width 1px
		height 15px
		background #cccaca
		top 15px
		position absolute
		left -25px

.side-save-tree
	position absolute
	right 0
	top 50%
	transform translateY(-50%)
	z-index 1
	margin 0
	
.side-remove-on-tree
	display flex
	align-items center
	cursor pointer
