.side-header
	min-height 40px
	background blue
	padding 20px
	
.side-flex-area
	display flex
	align-items center
	justify-content space-between
	
.side-header__logo
	padding-left 20px
	height 50px
	
.side-header__left
	float left
	display flex
	
.side-lang-menu
	padding 0 10px
	
.side-lang-menu__item
	padding 0 5px
	display inline-block
	
.side-lang-active
	color #fff
	padding-bottom 1px 
	opacity .4
	font-weight 400
	font-family CirceLight
	border-bottom 1px solid #fff