.side-card-wrapper__content
	margin-top 20px

.side-card-wrapper__content-block
	display none
	padding-right 30px
	position relative
	
.side-show-block
	display block

.side-card-wrapper__link
	width 100%
	display inline-block
	background #dadada
	padding 15px 20px
	color #000 
	font-size 14px
	line-height 24px
	font-family CirceLight
	text-transform uppercase
	cursor pointer
	&:hover, &:active, &:focus
		background blue
		color #fff
		text-decoration none
	
	
.side-card-wrapper__link-active
	background blue
	color #fff
	
.side-card-wrapper__remove-or-edit
	position absolute
	right -20px
	top 0
	
.side-card-wrapper__remove-or-edit .fa
	font-size 28px
	cursor pointer
	
.side-card-wrapper__remove-or-edit span 
	display block