.side-side-bar
	position fixed
	width 250px
	background #eee
	height 100%
	z-index 0

.side-side-bar__user
	padding 32px 10px
	display flex
	align-items center
	justify-content flex-start
	font-family CirceLight
	background #fff

.side-side-bar__user img
	width 30px
	margin-right 10px

.side-side-bar__item
	list-style none
	width 100%
	
.side-side-bar__item a 
	padding 15px 25px
	widht 100%
	font-size 20px
	display block
	border-bottom 1px solid #ccc 
	color #000
	font-family CirceLight
	&:hover
		background blue
		color #fff

.side-active a
	background blue
	color #fff
	
.side-animate-sidebar
	left 250px i