.side-modal-wrapper
	position fixed 
	width 100%
	height 100%
	z-index 9999
	background rgba(0,0,0, .5)
	top 0
	left 0
	display none 
	align-items center
	justify-content center
	
.side-active-modal
	display flex 
	

.side-modal-wrapper__item
	background #fff
	padding 20px
	display none
	
.side-active-modal__content
	display block

.side-modal-wrapper__title
	font-family CirceLight
	font-size 34px
	
.side-modal-wrapper__find-item
	display flex 
	align-items flex-start
	justify-content space-between
	padding 20px 0 0
	width 400px
	max-height 300px
	
.side-modal-wrapper__form
	width 100%

.side-modal-wrapper__item-form
	padding 0
	display flex 
	justify-content space-between 
	flex-wrap wrap
	
.side-modal-wrapper__item-form span
	width initial
	padding 0 10px
	
.side-modal-wrapper__item-form-label
	width 48%
	margin 10px 0
	
.side-modal-wrapper__item-form-label-full
	width 100%
	margin 10px 0
	
.side-modal-wrapper__item-form-label input, 
.side-modal-wrapper__item-form-label select
.side-modal-wrapper__item-form-label-full input,
.side-modal-wrapper__item-form-label-full select 
	width 100%

.side-modal-wrapper__section
	position relative

.side-modal-wrapper__section-absolute-button
	position absolute
	right 0px 
	top 5px
	
.side-absolute-action-button
	background #508dcb
	color #fff
	padding 5px 6px
	border-radius 50%
	margin 0 3px
	cursor pointer

.side-wrap-fields-form
	display flex i
 	justify-content space-between i 
 	width 100%
	
.side-wrap-fields-form input,
.side-wrap-fields-form select
	width 80%
	
.side-wrap-fields-form .submit-button
	width auto
	min-width 0
	padding 6px 9px
	color #fff
	
.side-wrap-fields-form .submit-button span
	color #fff 


	
	
	