.table-side
	font-family CirceLight
	border-collapse collapse
	
.table-side td
	border 1px solid #eceeef

.table-side td p 
	letter-spacing 1px

.table-side .fa 
	color #000

.side-card-wrapper__button
	display table
	float right
	
.side-table-wrapper
	margin 0 0 30px 0
	
.side-table-wrapper__title
	font-family CirceLight
	font-size 35px
	
.side-remove-item
	cursor pointer
	
