.head-wrapper
    height: 70px
    padding: 10px 0

.site-header
    display: inline-block

.site-head__mobile-toggle
    padding: 10px 15px
    height: 70px

.site-head__mobile-toggle-icon-bar
    display: block
    position: relative
    width: 24px
    height: 2px
    border-radius: 1px
    margin: 4px auto 0
    background-color: #555555;
    border: 1px solid #555555;

.site-head__logo
    font-family: RobotoLight, sans-serif
    font-weight: 400
    font-size: 18px
    color: #555555
    letter-spacing: 0
    line-height: 50px
    padding: 10px 15px


.site-header__desktop
    float: right
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    padding: 10px 15px

.site-header__desktop-search-container
    width: 240px
    margin-bottom: -19px;
    margin-right: 6px;

.site-header__menu
    display: flex
    justify-content: space-between
    align-items: center
    width: 100px

.site-header__menu-link
    padding: 15px

.site-header__menu-link i
    color: #555
    font-size: 20px

//@media (min-width: 1200px)/*lg*/
//
//
//@media (max-width: 1200px)/*md, sm & xs*/

@media (max-width: 992px)/*sm & xs*/
    .head-wrapper
        margin-left: 0

    .site-header__desktop
        display: none

    .site-header
        width: 100%
    
    .site-head__logo
        float: right
