.site-card-head__tabs
    margin: 0 -15px -15px

.site-card-head__tabs-btn
    padding: 10px 15px
    color: #fff
    border-radius: 3px
    cursor: pointer

.site-card-head__tabs-btn.site-card-head__tabs-btn_active
    background-color: rgba(255, 255, 255, 0.2)

.site-card-head__tabs-btn:hover
    background-color: #285b8e

.site-pages-form
    display: none
