sitebarBackground = #f1f4f6

.site-sidebar
    position: fixed
    height: 100%
    background-color: sitebarBackground
    width: 260px
    top: 0
    left: 0
    z-index: 3
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)

.site-sidebar__logo
    position: relative
    height: 70px
    padding: 15px

.site-sidebar__logo:after
    content: ''
    position: absolute
    bottom: 0
    right: 10%
    width: 80%
    height: 1px
    background-color: rgba(180, 180, 180, 0.3)

.site-sidebar__link
    text-align: center
    display: block
    font-size: 18px
    color: #3C4858
    line-height: 40px
    letter-spacing: 0

.site-sidebar__wrapper-search-container
    width: 215px
    margin: 50px auto 0

.site-sidebar__wrapper-list
    margin-top: 30px

.site-sidebar__wrapper-link.active
    background-color: #3079c1
    color: #fff
    box-shadow: 0 12px 20px -10px rgb(150, 163, 175), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgb(104, 143, 181)

.site-sidebar__wrapper-link i
    color: #a9afbb

.site-sidebar__wrapper-link.active i
    color: #fff

.site-sidebar__wrapper-link
    display: block
    padding: 10px 15px
    margin: 10px 15px
    border-radius: 3px
    color: #3C4858
    transition: all 300ms

.site-sidebar__wrapper-link:hover
    background-color: #eee
    color: #3C4858

.site-sidebar__wrapper-link.active:hover
    background-color: #285b8e
    color: #fff


.site-sidebar__wrapper-icon
    float: left
    margin-right: 15px
    line-height: 30px
    letter-spacing: normal
    width: 30px
    text-align: center

.site-sidebar__wrapper-par
    font-family: RobotoLight, sans-serif
    font-weight: 300
    line-height: 30px
    font-size: 14px
    letter-spacing: 0


@media (max-width: 992px)/*sm & xs*/
    .site-sidebar
        z-index: 1
