.site-users-table
    margin-top: 54px
    padding: 0 30px


.site-users-table__wrapper
    background-color: #ffffff
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
    padding: 20px 20px 0
    margin-bottom: 5px

.site-users-table__title
    margin: -40px -5px 0;
    background: #3079c1
    box-shadow: 0 12px 20px -10px rgb(150, 163, 175), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgb(104, 143, 181)
    height: 83px
    border-radius: 3px
    padding: 15px
    display: flex
    flex-direction: column
    justify-content: space-between

.site-users-table__title-head
    font-family: "RobotoLight", "Helvetica", "Arial", sans-serif
    font-size: 18px
    font-weight: 400
    color: #fff
    letter-spacing: 0
    line-height: 24px

.site-users-table__title-description
    font-family: "RobotoLight", "Helvetica", "Arial", sans-serif
    font-size: 14px
    font-weight: 400
    color: rgba(255, 255, 255, 0.62)
    letter-spacing: 0
    line-height: 21px

.site-users-table__wrapper-table
    width: 100%
    margin-top: 15px


.site-users-table__wrapper-table-head-data
    font-family: "RobotoLight", "Helvetica", "Arial", sans-serif
    font-size: 14px
    font-weight: 400
    color: #3079c1;
    letter-spacing: 0
    line-height: 20px
    padding: 12px 8px 4px

.site-users-table__wrapper-table-data
    font-family: "RobotoLight", "Helvetica", "Arial", sans-serif
    font-size: 14px
    font-weight: 400
    color: rgba(0, 0, 0, 0.87)
    letter-spacing: 0
    line-height: 20px
    padding: 12px 8px
    border-top: 2px solid #ddd

.site-users-table__wrapper-table-edit-data
    width: 70px
    text-align: center
    line-height: 20px
    padding: 12px 8px
    border-top: 2px solid #ddd

.site-users-table__wrapper-table-edit-data-link
    color: #757575

.site-users-table__wrapper-table-edit-data-link:hover
    color: #285b8e

.site-users-table__wrapper-table-delete-data-link
    color: #757575

.site-users-table__wrapper-table-delete-data-link:hover
    color: #c13048

@media (max-width: 1200px)/*md, sm & xs*/
    .site-users-table__form-wrapper
        margin-top: 50px